# MAP 565 : Production Forecasting

## Augustin Boissier & Maxime Pedron

In [2]:
import os.path

import numpy as np
import pandas as pd

import matplotlib.pylab as plt
import seaborn as sns

from sklearn.preprocessing import StandardScaler
from sklearn import metrics
from sklearn.ensemble import ExtraTreesClassifier

%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_validate
from sklearn.model_selection import cross_val_score
import pandas as pd

In [3]:
df_test = pd.read_csv("data/production_data_test.csv")
df_train = pd.read_csv("data/production_data_train.csv")
print('Importation effectuée')

Importation effectuée

In [4]:
df_train

,API,Year,Month,Liquid,Gas,RatioGasOil,Water,PercentWater,DaysOn,_LastUpdate
0,33053063590000,2015,3,17186,26624,1.549168,8213,0.477889,16,2016-08-11 14:03:14.000
1,33053063590000,2015,4,18796,21796,1.159608,7255,0.385986,30,2016-08-11 14:03:14.000
2,33053063590000,2015,5,14626,15988,1.093122,4213,0.288049,31,2016-08-11 14:03:14.000
3,33053063590000,2015,6,10421,12311,1.181365,2717,0.260724,30,2016-04-06 13:47:11.383
4,33053063590000,2015,7,9777,11254,1.151069,2399,0.245372,31,2016-04-06 13:47:11.383
...,...,...,...,...,...,...,...,...,...,...
394069,42301324920100,2018,5,2387,10603,4.441977,21452,8.987013,0,2019-03-10 13:58:15.553
394070,42301324920100,2018,6,4531,8700,1.920106,40840,9.013463,0,2019-03-10 13:58:15.553
394071,42301324920100,2018,7,7432,9536,1.283100,66864,8.996771,0,2019-03-10 13:58:15.553
394072,42301324920100,2018,8,4614,8625,1.869311,41465,8.986779,0,2019-03-10 13:58:15.553
394073,42301324920100,2018,9,2156,3354,1.555659,19285,8.944805,0,2019-03-10 13:58:15.553